@import "tailwindcss";
@tailwind base;
@tailwind components; 
@tailwind utilities;



@layer components {
  .all-\[unset\] {
    all: unset;
  }
}


:root {
  --background: #ffffff;
  --foreground: rgb(203, 24, 24)
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  }


@media (prefers-color-scheme: dark) {
  :root {
    --background: #fa8dd4;
    --foreground: #4f4551;
  }
}



/* @font-face {
  font-family: 'SoftMarshmallow';
  src: url('/public/fonts/SoftMarshmallow.woff') format('woff'),
       url('/public/fonts/SoftMarshmallow.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */



@font-face {
  font-family: 'SoftMarshmallow';
  src: url('../public/fonts/SoftMarshmallow.woff') format('woff2'),url('../public/fonts/SoftMarshmallow.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../public/fonts/Inter-2/Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

main {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: ui-sans-serif, system-ui, sans-serif;
  /* Arial, Helvetica, sans-serif;  */
}

.border-image-box {
  position: relative;
  padding: 80px 20px; /* Adjust side padding as needed */
  background-color: rgba(255, 255, 255, 0);
  /* border-radius: 16px; */
  overflow: hidden;
}

/* Top image border */
.border-image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 81px; /* or however tall your border image is */
  width: 100%;
  background-image: url('/border.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
}

/* Bottom image border */
.border-image-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 81px;
  width: 100%;
  background-image: url('/border.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
}





@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.animate-blink {
  animation: blink 1s step-end infinite;
}